@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
    height: 100dvh;
    font-family: "Raleway", sans-serif;
}

body{
    height: 100%;
}

:root{
    --button-primary: #0123ef;
    --link-primary: #343434;
}

button, label{
    background-color: var(--button-primary);
    padding: .6rem;
    border-radius: .6rem;
    color: #fff;
    cursor: pointer;
}

button:disabled{
    background-color: #7777 !important;
}

input, textarea {
    /* width: 100% */
    border-radius: .6rem;
    margin: .5rem auto;
    display: block;
}

a {
    color: var(--link-primary);
    text-decoration: underline;
}

h1 {
    font-size: 1.75rem;
}

input:read-only, textarea:read-only{
    background-color: #ccc7;
}

ul{
    list-style-position: inside;
}

li{
    margin: .25rem 0;
}